html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
}

::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
  
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: "Red Hat Text";
  font-size: 1.6rem;
  text-align: start;
  display: flex;
  line-height: 1.5;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--Rose-100);
  position: relative;
  padding: 2.0rem;
}

.floater::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--Rose-900);
  z-index: 100;
  opacity: 50%;
}






#app {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.app-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.2rem;
}

.dessert-list-wrapper {
  text-align: start;
}

.list-tag{
  margin-bottom: 2.5rem;
}

.dessert-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.dessert-card {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  /* max-width: 35.0rem; */
}

.banner-container {
  position: relative;
}

.card-cover {
  border-radius: 0.8rem;
}

.btns-wrapper {
  position: absolute;
  bottom: -1.9rem;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
}

.add-cartBtn {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.0rem 2.0rem;
  border-radius: 2.5rem;
  border: 0.16rem solid var(--Rose-400);
  background-color: var(--Rose-50);
  color: var(--Rose-900);
  font-weight: 600;
  font-size: 1.3rem;
  transition: all 180ms ease-in-out;
}

.add-cartBtn:hover {
  color: var(--Red);
  border-color: var(--Red);
}

.controls-wrapper {
  width: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.0rem ;
  border-radius: 2.5rem;
  background-color: var(--Red);
  color: var(--Rose-50);
}

.controls-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.05rem solid aliceblue;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
}

.count-display {
  color: aliceblue;
}

.inactive {
  display: none;
}

.border {
  border: 0.28rem solid var(--Red);
}

.details-wrapper {
  align-self: flex-start;
  text-align: start;
}

.dessert-category {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--Rose-400);
}

.dessert-name{
  font-weight: 600;
  color: var(--Rose-900);
}

.dessert-price {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--Red);
}

.cart-wrapper {
  background-color: var(--Rose-50);
  height: fit-content;
  padding: 1.8rem;
  border-radius: 0.8rem;
}

.cartList-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--Red);
  margin-bottom: 2.5rem;
}

.cart-count {
  font-size: 2.0rem;
  font-weight: 700;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: var(--Rose-400);
  font-weight: 700;
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price {
  color: var(--Rose-900);
  font-weight: 700;
  font-size: 2.5rem;
}

.products-tag {
  background-color: var(--Rose-100);
  border-radius: 0.8rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.4rem;
}

.btn {
  display: block;
  width: 100%;
  background-color: var(--Red);
  color: var(--Rose-50);
  padding: 1.5rem;
  border-radius: 2.5rem;
}

.cartItem-wrapper {
  border-bottom: 0.05rem solid var(--Rose-300);
  padding: 1.2rem 0;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.0rem;
}

.detail-wrapper,
.confirm-data__wrapper {
  flex-grow: 1;
}

.data-container {
  font-size: 1.4rem;
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
  margin-top: 0.8rem;
}

.dessert-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.dessert-count {
  color: var(--Red);
  font-weight: 600;
}

.dessert-price {
  color: var(--Rose-300);
  font-weight: 400;
}

.dessert-total {
  color: var(--Rose-500);
  font-weight: 600;
}

.delete-item {
  border: 0.2rem solid var(--Rose-300);
  padding: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.delete-item:hover {
  border-color: var(--Rose-900);
  svg {
    fill: var(--Rose-900);
  }
}

.confirm-data__wrapper {
  display: flex;
  gap: 1.2rem;
}

.dessert-thumbnail {
  width: 5.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.8rem;
}

.dessert-total__confirm {
  font-weight: 700;
  color: var(--Rose-900);
}

.outer-wrapper {
  z-index: 400;
  position: fixed;
  padding: 2.0rem;
  max-width: 45rem;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notification__wrapper {
  background-color: var(--Rose-50);
  padding: 1.6rem 1.6rem 2.5rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1.6rem;
}

.notification__wrapper h2 {
  margin: 1.5rem 0 0.7rem;
  font-size: 2.4rem;
}

.notification-header p {
  color: var(--Rose-500);
}

.notification-content {
  background-color: var(--Rose-100);
  padding: 1.2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.notification-content .dessert-name {
  font-size: 1.4rem;
}



@media screen and (min-width: 768px) {
  
  .app-content {
    grid-template-columns: 1.5fr 1fr;
  }

  .dessert-list {
    grid-template-columns: 1fr 1fr;
  }

  .cartList-header {
    justify-content: start;
  }
}


@media screen and (min-width: 1024px) {

  .app-content {
    grid-template-columns: 2fr 1fr;
  }

  .dessert-list {
    grid-template-columns: repeat(3, 1fr);
  }

}

